<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Rails4Example</title>
  <link href="/styles/site.css" rel="stylesheet">
	<!-- <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %> -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">
		<!-- Nav bar -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Michiko</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/books">Books</a></li>
						<li><a href="/improve_your_writing">Improve your writing</a></li>
						<li><a href="/about">About</a></li>
					</ul>
					<form class="navbar-form navbar-right" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search&hellip;">
						</div>
					</form>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</div>
	<div id="site-wrapper">
    {{{body}}}
  </div>
</div>
<div id="footer">
  <div id="footer-content">
    <div class="container">
      <div class="row" style="text-align: center;">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-md-1 col-md-offset-4">
              <i class="fa fa-5 fa-twitter"></i>
            </div>
            <div class="col-md-1">
              <i class="fa fa-5 fa-facebook"></i>
            </div>
            <div class="col-md-1">
              <i class="fa fa-5 fa-instagram"></i>
            </div>
            <div class="col-md-1">
              <i class="fa fa-5 fa-tumblr"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
