<div id="main-body" class="container">
	<div id="post-body" class="row">
		<div class="col-md-7">
			<header>
				<h1>{{data.post.title}}</h1>
			</header>
			<div class="post">
				{{{data.post.html}}}
			</div>
		</div>
<!--	<div class="col-md-5">
			<div class="post">
				{{{data.post.content.extended_extra}}}
			</div>
		</div> -->
	</div>
</div>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/solarized-dark.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
