		<div id="main-body" class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12 content">
							<img class="img-responsive" src="/images/index-main-article.jpg">
						</div>
					</div>
					<div class="row">
						<div class="col-md-10 col-md-offset-1 content">
							<a href="#"><h1 class="loud">Welcome to All Things Indie</h1></a>
							<h3 class="loud sub">MichikoKatsu.com is designed to be a one-stop-shop for everything you need to start, improve, publish and market your self-published fiction book.</h3>
							<h6>by <a href="#">Homero</a></h6>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<a href="#"><h2 class="loud">Prime Inner Conflict (aka Conflicting Wants)</h2></a>
							<h6>by <a href="#">Homero</a></h6>
						</div>
						<div class="col-md-6">
							<a href="#"><h2 class="loud">How to flesh out a character</h2></a>
							<h6>by <a href="#">Homero</a></h6>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="row" style="border-top: 3px solid #333; padding-top: 1em;">
						<div class="col-md-12">
							<a href="#"><h3 class="loud">Smooth Switches: Multiple POV Tricks and Tips</h3></a><h6>by <a href="#">Homero</a></h6>
							<a href="#"><h3 class="loud">How to Write a Great Book Blurb</h3></a><h6>by <a href="#">Homero</a></h6>
							<a href="#"><h3 class="loud">Copyediting or Proofreading? Getting the Most for Your Editing Dollar</h3></a><h6>by <a href="#">Homero</a></h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
