		<div id="main-body" class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12 content">
							<img class="img-responsive" src="/images/index-main-article.jpg">
						</div>
					</div>
					<div class="row">
						<div class="col-md-10 col-md-offset-1 content">
							<a href="#"><h1 class="loud">Welcome to All Things Indie</h1></a>
							<h3 class="loud sub">MichikoKatsu.com is designed to be a one-stop-shop for everything you need to start, improve, publish and market your self-published fiction book.</h3>
							<h6>by <a href="#">Michiko</a></h6>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<a href="#"><h2 class="loud">Prime Inner Conflict (aka Conflicting Wants)</h2></a>
							<h6>by <a href="#">Michiko</a></h6>
						</div>
						<div class="col-md-6">
							<a href="#"><h2 class="loud">How to flesh out a character</h2></a>
							<h6>by <a href="#">Michiko</a></h6>
						</div>
					</div>
					<div class="row">
						<div class="col-md-10 col-md-offset-1" style="text-align: center; border-top: 3px solid #333; margin-top: 2em; margin-bottom: 1em">			<h3 style="font-style: italic; margin-bottom: 0">Today is Tuesday, May 19th, 2015</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4"><h3>Joke of the day</h3><p>The first wealth is health.</p>
						</div>
						<div class="col-md-4"><h3>Quote of the day</h3><p>Georges Duhamel... I have too much respect for the idea of God to make it responsible for such an absurd world.</p>
						</div>
						<div class="col-md-4"><h3>Thought of the day</h3><p>It walks on four legs in the morning, two legs at noon and three legs in the evening. What is it?</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="row" style="text-align: center;">
						<div class="col-md-12" style="border-top: 3px solid #333; padding-top: 1em;">
							<h3 style="margin-top: 0; margin-bottom: 1em;">Monthly Newsletter</h3>
							<form class="form-inline">
								<div class="form-group">
									<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
								</div>
								<button type="submit" class="btn btn-default">Sign up</button>
							</form>
						</div>
					</div>
					<div class="row" style="margin-top: 2em; text-align: center;">
						<div class="col-md-12">
							<a href="#"><h3 class="loud">Smooth Switches: Multiple POV Tricks and Tips</h3></a><h6>by <a href="#">Heather Jackson</a></h6>
							<a href="#"><h3 class="loud">How to Write a Great Book Blurb</h3></a><h6>by <a href="#">PG</a></h6>
							<a href="#"><h3 class="loud">Copyediting or Proofreading? Getting the Most for Your Editing Dollar</h3></a><h6>by <a href="#">cslakin</a></h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
